@use "../foundation/mixin" as *;
@use "../foundation/variable" as *;

.l-grid {
  @include mq(pc) {
    display: grid;
    grid-template-columns: auto auto;
    // grid-template-rows: auto auto;
    overflow: hidden;
  }
}

.l-header {
  @include mq(pc) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.l-main {
  @include mq(pc) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

aside {
  @include mq(pc) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
