@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-button-wrapper {
  @include mq(tab) {
    width: calc(100vw * 714 /#{$width-tab});
  }
  @include mq(pc) {
    width: calc(100vw * 1353 /#{$width-pc});
  }
  .c-button {
    width: calc(100vw * 335 /#{$width-sp});
    height: 81px;
    background: $cream;
    font-weight: bold;
    border-radius: 20px;
    @include mq(tab) {
      width: calc(100vw * 429 /#{$width-tab});
      height: 104px;
    }
    @include mq(pc) {
      width: calc(100vw * 429 /#{$width-pc});
    }
  }
}
