@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.wp-block-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 581/358;
  object-fit: cover;
  object-position: bottom;
}

.wp-block-columns {
  flex-wrap: nowrap;
}
