@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-footer {
  background-image: url(../images/footer_bg.png);
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;

  &__menu {
    display: flex;
    justify-content: center;

    li {
      font-size: 1.25rem;
      font-weight: normal;
      &:not(:last-child):after {
        content: "|";
        margin-left: calc(100vw * 10 /#{$width-sp});
        margin-right: calc(100vw * 10 /#{$width-sp});
        @include mq(tab) {
          margin-left: calc(100vw * 13 /#{$width-tab});
          margin-right: calc(100vw * 13 /#{$width-tab});
        }
        @include mq(pc) {
          margin-left: calc(100vw * 20 /#{$width-pc});
          margin-right: calc(100vw * 20 /#{$width-pc});
        }
      }
    }
  }

  &__license {
    p {
      font-size: 0.875rem;
      margin-top: 34px;
    }
  }

}