@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.blocks-gallery-grid {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  @include mq(tab) {
    margin-top: 241px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include mq(pc) {
    margin-top: 60px;
  }
}

.wp-block-gallery.columns-0 .blocks-gallery-item {
    width: 100%;
    flex-grow: 0;
    margin: 0;
  &:nth-child(n + 2) {
    margin-top: 20px;
  }
  @include mq(tab) {
    width: calc((100% - calc(100vw * 16 /#{$width-tab})) /2);
    &:nth-child(n + 2) {
      margin-top: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 20px;
    }
    &:nth-child(2n) {
      margin-left: calc(100vw * 16 /#{$width-tab});
    }
    @include mq(pc) {
      width: calc((100% - calc(100vw * 20 /#{$width-pc})*2) /3);
      &:nth-child(n + 3) {
        margin-top: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 20px;
      }
      &:nth-child(2n) {
        margin-left: 0;
      }
      &:nth-child(3n + 2) {
        margin-left: calc(100vw * 20 /#{$width-pc});
        margin-right: calc(100vw * 20 /#{$width-pc});
      }
    }
  }
}

.blocks-gallery-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 581/358;

  @include mq(tab) {
    width: calc(100vw * 349 /#{$width-tab});
  }
  @include mq(pc) {
    width: calc(100vw * 438 /#{$width-pc});
  }
}
