@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-hero {
  background-image: url(../images/index_hero_img.jpg);
  background-size: cover;
  background-position: center center;
  padding-left: calc(100vw * 25 /#{$width-sp});
  height: 285px;
  display: flex;
  align-items: center;
  @include mq(pc) {
    height: 530px;
  }

  &__title {
    font-size: 2.25rem;
    font-weight: bold;
    @include mq(pc) {
      font-size: 2.5rem;
    }
  }
}

.p-hero--archive {
  aspect-ratio: 375/283;
  position: relative;
  @include mq(tab) {
    aspect-ratio: 834/283;
  }
  @include mq(pc) {
    aspect-ratio: 1553/239;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: calc(100vw * 37 /#{$width-sp});
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq(tab) {
      padding-left: calc(100vw * 86 /#{$width-tab});
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    @include mq(pc) {
      padding-left: calc(100vw * 86 /#{$width-pc});
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/archive_hero_img.jpg);
    background-size: cover;
    background-position: 30% center;
    opacity: 0.5;
    @include mq(tab) {
      background-position: 50% center;
    }
  }

  h2 {
    font-size: 2.25rem;
    line-height: 48px;
    font-weight: bold;
    z-index: 2;
    @include mq(tab) {
      font-size: 3.75rem;
      line-height: 79px;
      margin-right: calc(100vw * 20 /#{$width-tab});
    }
    @include mq(pc) {
      margin-right: calc(100vw * 20 /#{$width-pc});
    }
  }

  p {
    margin-top: 7px;
    line-height: 23px;
    font-weight: bold;
    z-index: 2;
  }
}

.p-hero--single {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  aspect-ratio: 5/3;
  display: flex;
  align-items: center;
  padding-left: calc(100vw * 26 /#{$width-sp});
  @include mq(tab) {
    aspect-ratio: 834/500;
    padding-left: calc(100vw * 86 /#{$width-tab});
  }
  @include mq(pc) {
    width: calc(100vw * 1553 /#{$width-pc});
    aspect-ratio: 1553/500;
    padding-left: calc(100vw * 86 /#{$width-pc});
  }

  h1 {
    font-size: 1.7rem;
    @include mq(sp) {
      font-size: 2.25rem;
    }
    font-weight: bold;
    @include mq(tab) {
      font-size: 3.75rem;
    }
  }
}

.p-hero--page {
  @extend .p-hero--single;
}
