@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-introduction {
  padding-left: calc(100vw * 22 /#{$width-sp});
  @include mq(tab) {
    padding-left: calc(100vw * 42 /#{$width-tab});
  }
  @include mq(pc) {
    padding-left: calc(100vw * 100 /#{$width-pc});
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.75rem;
    font-weight: bold;
    @include mq(tab) {
      margin-top: 36px;
      margin-bottom: 25px;
      font-size: 2.25rem;
    }
    @include mq(pc) {
      margin-top: 60px;
    }
  }
  p {
    width: calc(100vw * 335 /#{$width-sp});
    line-height: 23px;
    @include mq(tab) {
      width: calc(100vw * 757 /#{$width-tab});
    }
    @include mq(pc) {
      width: calc(100vw * 1353 /#{$width-pc});
    }
  }
}


.p-introduction--single {
  width: calc(100vw * 335 /#{$width-sp});
  font-size: bold;
  @include mq(tab) {
    width: calc(100vw * 714 /#{$width-tab});
  }
  @include mq(pc) {
    width: calc(100vw * 1353 /#{$width-pc});
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    @include mq(tab) {
      font-size: 2.25rem;
      margin-bottom: 60px;
    }
  }
  p {
    height: 183px;
    overflow: hidden;
    font-size: normal;
    @include mq(tab) {
      height: 115px;
    }
    @include mq(pc) {
      height: 71px;
    }
  }
  h3 {
    font-size: 1.5rem;
    margin-top: 34px;
    margin-bottom: 31px;
    @include mq(tab) {
      font-size: 1.75rem;
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
  h5 {
    margin-top: 37px;
    margin-bottom: 30px;
    @include mq(tab) {
      margin-top: 76px;
      margin-bottom: 60px;
    }
    @include mq(pc) {
      margin-top: 60px;
    }
  }
  h4,h5,h6 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

