
@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-access {
  margin-top: 49px;
  position: relative;
  background-color: #000;
  @include mq(tab) {
    margin-top: 40px;
  }
  @include mq(pc) {
    margin-top: 134px;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0,0,0,0.29);
    z-index: 2;         //文字より下層に位置指定
    @include mq(tab) {
      height: 100%;
    }
    @include mq(pc) {
      width: 61.2%;
      height: 100%;
    }
  }
  
  
  &__description {
    position: relative;
    z-index: 10;
    padding-top: 107px;     //要素に高さを持たせるため、z-indexは使わない
    padding-bottom: 51px;
    @include mq(tab) {
      padding-top: 122px;
      padding-bottom: 42px;
    }
    @include mq(pc) {
      padding-top: 253px;
      padding-bottom: 65px;
    }
    

    &__title {
      position: absolute;
      top: 25px;
      left: calc(100vw * 42 /#{$width-sp});
      font-size: 1.875rem;
      font-weight: bold;
      @include mq(tab) {
        top: 40px;
        left: calc(100vw * 42 /#{$width-tab});
      }
      @include mq(pc) {
        top: 83px;
        left: calc(100vw * 119 /#{$width-pc});
      }

      &::after {
        position: absolute;
        top: 62px;
        left: 0;
        content: "";
        width: calc(100vw * 75 /#{$width-sp});
        height: 2px;
        background-color: #fff;
        @include mq(tab) {
          width: calc(100vw * 75 /#{$width-tab});
        }
        @include mq(pc) {
          width: calc(100vw * 75 /#{$width-pc});
        }
      }
    }

      &__text {
        width: calc(100vw * 295 /#{$width-sp});
        margin-left: calc(100vw * 40 /#{$width-sp});
        font-size: 0.875rem;
        line-height: 33px;
        @include mq(tab) {
          width: calc(100vw * 763 /#{$width-tab});
          margin-left: calc(100vw * 42 /#{$width-tab});
        }
        @include mq(pc) {
          width: calc(100vw * 697 /#{$width-pc});
          margin-left: calc(100vw * 119 /#{$width-pc});
          font-size: 1rem;
        }
      }
    }

    &__map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;        //文字より下層に位置指定
      opacity: 0.6;
    }
  }

