@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.p-menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
    opacity: 0; /* 透明度を0にすることで隠す */
    transition: opacity 0.4s; /* 透明度の0→1になる速度 */
  }

  .p-menu-bg.is-open {
    width: 100%;
    height: 100%;
    opacity: 1; /* メニューが表示されているときには背景が表示 */
    @include mq(pc) {
    width: 0;
    height: 0;
    opacity: 0;
    }
  }