@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.wp-pagenavi {
  display: none;
  @include mq(tab) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    color: $grey;
    font-family: "Roboto", sans-serif;
  }

  .pages {
    display: none;
    @include mq(tab) {
      display: block;
      font-family: "M PLUS 1p";
      border-style: none;
      margin-right: 19.3px;
    }
  }

  .previouspostslink {
    display: none;
    margin-right: 8.2px;
    border-style: none;
    @include mq(tab) {
      display: block;
      margin-right: 17.2px;
    }
  }

  .current {
    display: none;
    @include mq(tab) {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid;
    line-height: 35px;
    text-align: center;
    background-color: #3c2b1c;
    color: #fff;
    }
  }

  .page {
    display: none;
    @include mq(tab) {
      display: block;
      width: 35px;
      height: 35px;
      border: 1px solid;
      line-height: 35px;
      text-align: center;
    }
  }

  .nextpostslink {
    display: none;
    margin-left: 8.2px;
    border-style: none;
    @include mq(tab) {
      display: block;
      margin-left: 19.3px;
    }
  }

  span, a {
    margin: 0;
    padding: 0;
  }

  .page + .page, .current + .page, .page + .current {
    margin-left: 15px;
  }

}

.l-pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(100vw * 20 /#{$width-sp});
  padding-right: calc(100vw * 20 /#{$width-sp});
  color: $grey;
  font-family: "Roboto", sans-serif;
  @include mq(tab) {
    display: none;
  }
}