@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.post, .type-page {
  .wp-block-image img {
    height: auto;
    object-fit: cover;
  }

  .wp-block-columns {
    flex-wrap: nowrap;
  }
}
