@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.post, .type-page {
  .wp-block-table {
    border-collapse: collapse;
    background-color: #fff;

    td {
      border: solid 1px;
      padding-top: 28px;
      padding-bottom: 27px;

      &:first-child {
        width: 40%;
        @include mq(tab) {
          width: 30%;
        }
        @include mq(pc) {
          width: 31.7%;
        }
      }
    }
  }
}
