@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;

.l-content {
  ol li {
    list-style-type: decimal;
    list-style-position: inside;
  }

  ol ol {
    padding-left: calc(100vw * 18 /#{$width-sp});
    @include mq(tab) {
      padding-left: calc(100vw * 18 /#{$width-tab});
    }
    @include mq(pc) {
      padding-left: calc(100vw * 18 /#{$width-pc});
    }
  }

  ul ul {
    padding-left: calc(100vw * 18 /#{$width-sp});
    @include mq(tab) {
      padding-left: calc(100vw * 18 /#{$width-tab});
    }
    @include mq(pc) {
      padding-left: calc(100vw * 18 /#{$width-pc});
    }
  }

  .list-top {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  ol li ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul li ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ol + ul {
    margin-top: 60px;
  }
}
