@use "../../foundation/mixin" as *;
@use "../../foundation/variable" as *;
.l-content {

  h2 {
    margin-top: 30px;
    font-size: 1.75rem;
    @include mq(tab) {
      margin-top: 60px;
      font-size: 2.25rem;
    }
  }

  > p {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  h3 {
    margin-top: 34px;
    font-size: 1.5rem;
    @include mq(tab) {
      margin-top: 60px;
      font-size: 1.75rem;
    }
  }

  h4 {
    margin-top: 31px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  h5 {
    margin-top: 37px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  h6 {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  h4,
  h5,
  h6 {
    font-size: 1.25rem;
  }

  .wp-block-quote {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  > .wp-block-image {
    margin-top: 30px;
    margin-bottom: 0;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  > .wp-block-columns {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  .wp-block-columns {
    margin-bottom: 0;
  }

  .wp-block-gallery + .wp-block-gallery {
    margin-top: 20px;
  }

  .blocks-gallery-item {
    margin-bottom: 0;
  }

  .wp-block-code {
    margin-top: 30px;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  .wp-block-table {
    margin-top: 30px;
    margin-bottom: 0;
    @include mq(tab) {
      margin-top: 60px;
    }
  }

  .wp-block-button {
    margin-top: 30px;
    margin-bottom: 0;
    @include mq(tab) {
      margin-top: 60px;
    }
  }
}
